# Your system has configured 'manage_etc_hosts' as True.
# As a result, if you wish for changes to this file to persist
# then you will need to either
# a.) make changes to the master file in /etc/cloud/templates/hosts.debian.tmpl
# b.) change or remove the value of 'manage_etc_hosts' in
#     /etc/cloud/cloud.cfg or cloud-config from user-data
#
127.0.0.1 localhost{% if localhost_aliases | length > 0 %}{% for alias in localhost_aliases %} {{ alias }}{% endfor %}{% endif %}

{{ instance_v4addr }} {{ instance_fqdn }} {{ instance_hostname }}
{% if (hostname_aliases | selectattr('v4addr') | length > 0) %}
{% for host_alias in hostname_aliases %}
{{ host_alias['v4addr'] }}{% if host_alias['hostnames'] | length > 0 %}{% for hostname in host_alias['hostnames'] %} {{ hostname }}{% endfor %}{% endif %}
{% endfor %}
{% endif %}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback{% if localhost_aliases | length > 0 %}{% for alias in localhost_aliases %} {{ alias }}{% endfor %}{% endif %}

fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

{% if instance_v6 is defined %}
{% if instance_v6.address is defined %}
{{ instance_v6.address }} {{ instance_fqdn }} {{ instance_hostname }}
{% endif %}
{% endif %}

{% if (hostname_aliases | selectattr('v6addr') | length > 0) %}
{% for host_alias in hostname_aliases %}
{{ host_alias['v6addr'] }}{% if host_alias['hostnames'] | length > 0 %}{% for hostname in host_alias['hostnames'] %} {{ hostname }}{% endfor %}{% endif %}
{% endfor %}
{% endif %}
